* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex; justify-content: center; align-items: center;
    width: 100vw; height: 100vh;
    background-color: antiquewhite;
}

.App {
    display: flex; justify-content: center; align-items: center;
    width: 550px; height: 650px;
    border: 5px solid midnightblue;
    background-color: aliceblue;  
}

.calculator {
    display: flex; flex-wrap: wrap;
    width: 400px;
}

.display {
    display: flex; justify-content: end;
    margin-bottom: 20px;
    width: 400px; height: 80px;
    border: 2px solid;
}

.display p {
    padding: 20px;
    font-size: 1.8rem;
}

.calculator-button {
    display: flex; align-items: center; justify-content: center;
    width: 100px; height: 100px;
    border: 1px solid;
    font-size: 1.6rem;
}